* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;    
}

body {
    padding: 16px;
}

.main-post{
    display:flex;
    justify-content: center;
    position: relative;
    margin: 40px 90px 60px;
    width: 85%;
}

.post-img {
    height: 280px;
    width: 550px;
    padding-right: 42px;
}
.post-txt h2 {
    font-size: 2.3rem;
    line-height: 46px;
    padding-bottom: 10px;
    
    
}
.post-txt p {
    line-height: 32px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666666;  
}

#footer-main {
    padding-top: 2em;
}

.container {
    position: relative;
}

.all-posts {
    display: flex;
    justify-content: center;
}

.post {
    width: 350px;
    position: relative;
    margin-right: 32px;
}
.main-img {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.post h2 {
    font-size: 2.2rem;
    margin-top: 24px;
}

.post p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666666;
}

.post-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.avatar-image {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.user-info p,
.user-info h3 {
    font-size: small;
    margin-top: 4px;
}

footer {
    width: 100%;
    position: absolute;
    padding: 0px 90px 32px 90px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
}

@media (max-width: 772px) {
    .main-post{
        flex-direction: column;
        width: 350px;
        margin:auto;        
    }
    .post-img {
        width: 350px;
        padding-right: 0%;
        padding-bottom: 2em;    
    }

    .all-posts {
        flex-direction: column;
    }

    .post {
        margin: auto;
        margin-top: 48px;
    }

    footer {
        display: inline;
        padding: 0 0 26px 0;
    }

    footer p {
        margin-top: 8px;
        text-align: left;
    }
}

@media (max-width: 374px) {
    .main-post {
        margin: 0;
    }

    .post-img {
        width: 350px;
    }

    .post-txt h2 {
        padding-top: 0.1em;
    }

    .post {
        width: 100%;
        margin-right: 32px;
    }

    .main-img {
        width: 100%;
    }
}
